<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <router-link to="/" class="navbar-brand">Crypto</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li v-if="this.$auth.watch.authenticated" class="nav-item">
                <router-link to="/snapshots" class="nav-link">Снимки</router-link>
              </li>
          </ul>
          <ul v-if="this.$auth.watch.authenticated" class="navbar-nav">
              <li class="nav-item">
                  <a @click="signout" class="nav-link signout">Выйти</a>
              </li>
          </ul>
          <ul v-if="!this.$auth.watch.authenticated" class="navbar-nav">
              <li class="nav-item">
                  <router-link to="/register" class="nav-link">Зарегистрироваться</router-link>
              </li>
              <li class="nav-item">
                  <router-link to="/login" class="nav-link">Войти</router-link>
              </li>
          </ul>
      </div>
  </nav>
</template>

<script>
    export default {
        methods: {
            signout() {
                this.$auth.logout({
                    success: function () {},
                    error: function () {},
                    redirect: '/login'
                });
            }
        },
        mounted() {
            console.log('Layout mounted.')
        }
    }
</script>

<style scoped>
    .signout {
        cursor: pointer;
    }
</style>
