<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                I'm an Index component!
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Index mounted.')
        }
    }
</script>
