<template>
    <div class="col-md-4">
        <h1>Signup</h1>
        <div class="alert alert-danger" v-if="error && !success">
            <p>There was an error, unable to complete registration.</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>Registration completed. You can now <router-link to="/login">sign in.</router-link></p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <div class="form-group" v-bind:class="{ 'is-invalid': error && errors.name }">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" v-model="name" required>
                <div class="invalid-feedback">
                    <span v-for="error in errors.name">{{ error }}</span>
                </div>
            </div>
            <div class="form-group" v-bind:class="{ 'is-invalid': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                <div class="invalid-feedback">
                    <span v-for="error in errors.email">{{ error }}</span>
                </div>
            </div>
            <div class="form-group" v-bind:class="{ 'is-invalid': error && errors.password }">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
                <div class="invalid-feedback">
                    <span v-for="error in errors.password">{{ error }}</span>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register(){
                var app = this
                this.$auth.register({
                    params: {
                        name: app.name,
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>

<style scoped>
    .invalid-feedback {
        display: block!important;
    }
</style>
