<template>
    <div class="col-md-12">
        <table class="table" v-if= "getTable.length > 0">
            <thead>
                <tr>
                    <td v-for="col in Object.keys(getTable[0])">{{ col }}</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in getTable">
                    <td v-for="col in row">{{ col }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                date: '',
                table: []
            }
        },
        methods: {
            paginate(page) {
                let vue = this;
                axios.get('/snapshots?page=' + page).then(response => {
                    vue.table = response.data.data.data
                });
            }
        },
        computed: {
            getTable() {
                return this.table
            }
        },
        mounted() {
            this.paginate(1);
            console.log('Snapshots mounted.')
        }
    }
</script>
