<template>
    <div class="col-md-4">
        <table class="table">
          <tbody>
              <tr v-for="col in getRow">
                  <th>{{ col }}</th>
                  <td>{{ col }}</td>
              </tr>
          </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                date: '',
                row: []
            }
        },
        methods: {
            getSnapshot(name) {
                let app = this;
                axios.get('/snapshots/' + name).then(response => {
                    app.row = response.data.data;
                });
            }
        },
        computed: {
            getRow() {
                return this.row;
            }
        },
        mounted() {
            this.getSnapshot(this.$route.params.name);
            console.log('Snapshots mounted.');
        }
    }
</script>
