<template>
  <div v-show="this.$auth.watch.loaded">
      <Header />
      <div class="row justify-content-center">
          <router-view/>
      </div>
  </div>
</template>

<script>
    import Header from './Pages/Header'

    export default {
        components: {
            Header
        },
        mounted() {
            console.log('App mounted.')
        }
    }
</script>

<style>
    [v-cloak] {
        display: none!important;
    }
</style>
